{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Despesa</legend>
                <div class="form-group" style="padding-bottom: 10px;">
                        {{ form|crispy }}
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
        </form>
    </div>
{% endblock content %}